.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    .nav-links {
      padding: 0 5px;
      cursor: pointer;
      font-weight: bold;
      color: black
    }
 
  }
}
